<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
  <meta name="full-screen" content="yes">
  <title></title>
  <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="../css/plugins/swiper/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="css/confirm_order.css">

</head>
<body>
  <div id="app">
    <div class="header">
      <div class="top">
        <a  href="javascript:;" @click="history.go(-1)">
          <img src="../imgs/fh.png">
        </a>    
        <div>确认订单</div>       
      </div>
    </div>
    <div class="shopping-address" v-for="(adr,index) in addressList">
      <div class="top">
        <div class="name">收货人：{{adr.contact_people}}</div>
        <div class="tel">{{adr.contact_tel}}</div>
      </div>
      <div class="clear"></div>
      <div class="bottom">
        <div class="img">
          <img src="../imgs/dizhi-2@3x.png">
        </div>
        <div class="address">收货地址：{{adr.area+adr.detailed_address}}</div>
      </div>
    </div>  
    <ul class="goods-order">
      <li v-for="shop_list in shopList">
        <div class="shop">
          <span>{{shop_list.shop_name}}</span>
        </div>
        <div class="goods">
          <ul>
            <li v-for="goods_list in shop_list.GoodsList">
              <div class="goods-info">
                <img :src="'http://122.112.209.170:8088'+goods_list.icon">
                <div class="goods-name">{{goods_list.name}}</div>
                <div class="goods-spec">{{goods_list.specificationsText}}</div>
                <div class="goods-price">
                  <div class="one">
                    <span>¥</span><span>{{goods_list.buying_price}}</span>
                  </div>
                  
                  <div class="three">
                    <span>×{{goods_list.buy_count}}</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="shipping">
          <span class="left">配送方式</span>
          <span class="right">物流配送(配送费¥<span>{{shop_list.courier_fees}}</span>)</span>
        </div>
        <div class="buyer-message">
          <div>买家留言：<input type="text" :placeholder="shop_list.buyer_messages" v-model="shop_list.buyer_message"></div>
        </div>
        <div class="calc">
          <div>共<span>1</span>件商品 小计：<span>¥{{shop_list.goods_sum_price}}</span></div>
        </div>
      </li> 
    </ul>
    <div class="fixed">
      <div class="total">
          <div>合计<span>¥{{sumPrice}}</span><span class="submit" @click="saveOrder">提交订单</span></div>
      </div>
    </div>
    <div class="confirm-pop1" v-show="payState">     
      <div class="confirm-pay">
        <div class="close"   @click="payModeCloseAll">&times;</div>
        <div class="title">确认付款</div>
        <div class="pay-money">¥{{sumPrice}}</div>
        <div class="pay-account">
          <div class="left">支付账号</div>
          <div class="right">17301764656</div>
        </div>
        <div class="pay-mode" @click="payMode">
          <div class="left">付款方式</div>
          <div class="right">{{payModeText}}<img src="../imgs/ic_right_arrow.png" alt=""></div>
        </div>
        <div class="img">
          <img src="../imgs/kb.png" v-if="qrCode===''">
          <img :src="qrCode" v-else>
        </div>
        <div class="now-pay" v-if="payModeText==='钱包支付'" @click="walletPayOpen">
          立即付款
        </div>
        <div class="now-pay" v-else  @click="WXPay">
          立即付款
        </div>
      </div>
    </div>
    <div class="confirm-pop2"  v-show="payModeState">     
      <div class="confirm-mode">
        <div class="close"  @click="payModeClose(1)"><img src="../imgs/ic_black_back.png" alt=""></div>
        <div class="title">选择付款方式</div>
        <div class="pay-mode1" @click="payModeClose(1)">
          <div class="left">钱包支付</div>
          <div class="right"  ><img src="../imgs/ic_right_arrow.png" alt=""></div>
        </div>
        <div class="pay-mode2" @click="payModeClose(2)">
          <div class="left">微信支付</div>
          <div class="right"><img src="../imgs/ic_right_arrow.png" alt=""></div>
        </div>
      </div>
    </div>
    <div class="confirm-pop3"  v-show="payModeWallet">     
      <div class="confirm-mode">
        <div class="close"  @click="payModePwd()"><img src="../imgs/ic_black_back.png" alt=""></div>
        <div class="title">请输入支付密码</div>
        <div class="pay-mode">
         <!--  <span><input type="number" name="" maxlength="1" readonly v-model="pwdList"></span>
          <span><input type="number" name="" maxlength="1" readonly v-model="pwdList"></span>
          <span><input type="number" name="" maxlength="1" readonly v-model="pwdList"></span>
          <span><input type="number" name="" maxlength="1" readonly v-model="pwdList"></span>
          <span><input type="number" name="" maxlength="1" readonly v-model="pwdList"></span>
          <span><input type="number" name="" maxlength="1" readonly v-model="pwdList"></span> 
        -->
        <!-- <span>{{pwdObj.one}}</span>
        <span>{{pwdObj.two}}</span>
        <span>{{pwdObj.three}}</span>
        <span>{{pwdObj.four}}</span>
        <span>{{pwdObj.five}}</span>
        <span>{{pwdObj.six}}</span>
           -->
           <!-- <span v-for="plist in pwdList">{{plist}}</span> -->
           <span>{{pwdObj.one||pwdObj.one===0?'●':''}}</span>
          <span>{{pwdObj.two||pwdObj.two===0?'●':''}}</span>
          <span>{{pwdObj.three||pwdObj.three===0?'●':''}}</span>
          <span>{{pwdObj.four||pwdObj.four===0?'●':''}}</span>
          <span>{{pwdObj.five||pwdObj.five===0?'●':''}}</span>
          <span>{{pwdObj.six||pwdObj.six===0?'●':''}}</span>
        </div>
        <div class="keyboard" >
          <!-- <span @click="One(1)">1</span>
          <span @click="Two(2)">2</span>
          <span>3</span>
          <span>4</span>
          <span>5</span>
          <span>6</span>
          <span>7</span>
          <span>8</span>
          <span>9</span>
          <span></span>
          <span>0</span>
          <span @click="del">&times;</span> -->
           <span v-for="(key,index) in keys" 
            v-html="key" 
            @click="selected(index+1)"
            ></span>
        </div>
      </div>
    </div>


  </div>
  <script src="../js/plugins/jquery/jquery.min.js"></script>
  <script src="../js/plugins/vue/vue.min.js"></script>
  <script src="js/common.js"></script>
  <script src="../js/plugins/swiper/swiper.min.js"></script>
  <script src="js/confirm_order.js"></script>
</body>
</html>