<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
  <!-- <meta name="full-screen" content="yes"> -->
  <title></title>
  <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="../css/plugins/swiper/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="css/shop.css">

</head>
<body>
  <div id="app">
    <div class="header">
      <img :src="'http://122.112.209.170:8088'+shop.shop_image" class="shop-bimg">
      <div class="top">
        <a  href="javascript:;" @click="history.go(-1)">
          <img src="../imgs/fh.png">
        </a>    
        <div>
          <img src="../imgs/search-5@2x.png">
          <input type="text" name="" v-model="searchText">
        </div>
        <div class="search">         
          <button @click="search(shop.merchants_in_id)">搜索</button>
        </div>       
      </div>
      <div class="middle">
        <div class="shop-img"><img :src="'http://122.112.209.170:8088'+shop.shop_logo"></div>
        <div class="shop-name">{{shop.shop_name}}</div>
        <div class="shop-fans">
          <div class="fans-num">{{shop.focuscount}}</div>
          <div class="fans-name">粉丝</div>
        </div>
        <div class="shop-follow">
          <span @click="follow" v-if="shop.is_focus==='0'" class="follow">关注</span>
          <span @click="unFollow" v-else class="un-follow">已关注</span>
        </div>
      
    </div>
      <div class="bottom">
        <ul>
           <li v-for="(sort_list,i) in sortList" class="default" 
              :class="{'active-color':i+1==sort_list.num}" @click="getMerchantsInId(i+1)">
                {{sort_list.name}}
              </li>
        </ul>
      </div>
    </div>
    <div class="goods-list">
        <div class="goods">
          <ul>
            <li v-for="goods in shop.Goods">
              <a target="_parent" :href="'goods_detail.html?goods_id='+goods.goods_id">
                <div class="goods-img">
                  <img src="../imgs/bajiamache.png" v-if="goods.icon===''">
                  <img :src="'http://122.112.209.170:8088'+goods.icon" v-else>

                </div>
                <div class="goods-name">
                {{goods.name}}
                </div>
                <div class="goods-price">
                  <span>¥{{goods.buying_price}}</span>
                  <del>¥{{goods.original_price}}</del>
                </div>
              </a>
            </li>
          </ul>
        </div>
    </div>
  </div>
  <script src="../js/plugins/jquery/jquery.min.js"></script>
  <script src="../js/plugins/vue/vue.min.js"></script>
  <script src="js/common.js"></script>
  <script src="../js/plugins/swiper/swiper.min.js"></script>
  <script src="js/shop.js"></script>
</body>
</html>